.titlebar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 24px;
    background-color: #254685;
    -webkit-app-region: drag;
    padding-left: 0.5rem;
    color: #fff;
    user-select: none;
}

.titlebar__controls {
    display: flex;
    align-items: center;
    height: 100%;
}

.titlebar__icon {
    display: flex;
    pointer-events: none;
    align-items: center;
    height: 100%;
}

.titlebar__icon svg {
    height: 75%;
    width: 2rem;
    transition: 0.3s;
    padding-right: 1rem;
    border: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    -webkit-app-region: drag;
    fill: #fff;
}

.titlebar__controls span {
    height: 100%;
    width: 2.5rem;
    transition: 0.3s;
    border: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    -webkit-app-region: no-drag;
}

.titlebar__controls-close {
    background-image: url('../../../icons/close.png');
}

.titlebar__controls-close:hover {
    background-color: rgb(255, 0, 0);
}

.titlebar__controls-minimize {
    background-image: url('../../../icons/maximize.png');
}

.titlebar__controls-minimize:hover {
    background-color: rgb(96, 140, 228);
}

.titlebar__controls-maximize {
    background-image: url('../../../icons/minus.png');
}

.titlebar__controls-maximize:hover {
    background-color: rgb(96, 140, 228);
}