.App1 {
    font-family: sans-serif;
    padding-top: 1rem;
  }
  
  .chevron-down {
    margin-left: auto;
    transition: transform 0.2s ease-in-out;
  }
  
  .szh-accordion {
    border-bottom: 1px solid #ccc;
    &__item {
      border-top: 1px solid #ccc;
  
      &-btn {
        cursor: pointer;
        display: flex;
        align-items: center;
        width: 100%;
        margin: 0;
        padding: 1rem;
        font-size: 1rem;
        font-weight: 400;
        text-align: left;
        color: #007bff;
        background-color: transparent;
        border: none;
        &:hover {
          background-color: #f3f3f3;
        }
      }
  
      &-content {
        transition: height 0.2s ease-in-out;
      }
  
      &-panel {
        padding: 1rem;
      }
  
      &--expanded {
        .szh-accordion__item-btn {
          background-color: #e7e7e7;
        }
        .chevron-down {
          transform: rotate(180deg);
        }
      }
    }
  }
  