// Global elements
label {
  font-size: 16px;
}

.lbl-button {
  fill: #646464;
  cursor: pointer;

  &:hover {
    cursor: pointer;
    color: #307ae7;

    svg {
      fill: #307ae7;
    }
  }
}

input {
  background-color: #fff;
  border: 1px solid hsl(210, 14%, 83%);
  border-radius: 0.25rem;
  line-height: 1.5;
  // padding: 0.75rem;
  transition: 0.3s;

  &:focus {
    box-shadow: 0 0 0 0.35rem rgba(187, 217, 255, 0.25);
    outline: 0;
  }
}

/////////////////////////////////////////
// block main
/////////////////////////////////////////

.scrollableContainer {
  .list {
    border: 1px solid #d1d1d1;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    max-height: 450px;
    overflow-y: auto;
    text-align: justify;
  }

  @media (max-height: 450px) {
    border: 2px solid red;
  }
}

.form__input {
  // border: 2px solid red;
  display: flex;
  flex-direction: column;
  height: 200px auto;
  margin: 0.25rem 1rem 1rem 1rem;
  padding: 1rem 2.5rem;
  border-radius: 11px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;

  // First element
  .input-file {
    // border: 2px solid green;
    display: flex;
    flex-direction: column;

    input {
      cursor: pointer;
      padding: 0.35rem;
      border: 1px solid #d1d1d1;
      border-radius: 5px;
      -webkit-app-region: no-click;
    }
  }

  // Second element
  .input-settings {
    // border: 2px solid green;
    padding-top: 1rem;
    display: flex;

    .settings__road-type {
      width: 100%;

      .road-type__radio {
        display: flex;
        flex-direction: row;

        .radio-item {
          display: flex;
          align-items: center;
          padding-right: 1rem;
          padding-top: 0.5rem;
        }
      }
    }
  }

  // third element
  .input-button {
    display: flex;
    justify-content: end;
    padding-top: 1rem;
  }

  // // // // // // // //
  // Main component styles down
  // // // // // // // //

  // first component
  .form-marker {
    .marker-item {
      display: flex;
      align-items: center;

      #rectangle_best {
        width: 30px;
        height: 12px;
        border: 1px solid #d1d1d1;
        background: #7bf69d;
      }
      #rectangle_good {
        width: 30px;
        height: 12px;
        border: 1px solid #d1d1d1;
        background: #f3f67b;
      }
      #rectangle_bad {
        width: 30px;
        height: 12px;
        border: 1px solid #d1d1d1;
        background: #f67b7b;
      }

      p {
        margin: 0.15rem;
        margin-left: 1rem;
      }
    }
  }

  // second component
  .form-view {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0.75rem 4rem;

    .road-item {
      position: relative;
      border: 2px solid red;
    }

    .tooltip-form {
      border: 2px soid red;
      z-index: 0;
      border-radius: 5px;
      background-color: #fff;
      color: #000;
      opacity: 2;
      font-size: 14px;
      box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;

      p {
        margin: 0 0 0.5rem 0;
      }

      .clickable {
        pointer-events: auto;
      }

      .tooltip-avg-status {
        display: flex;
        align-items: center;
      }

      .remont-item {
        border-radius: 2px solid red;
        height: auto;
        width: auto;
        padding: 5px;
        background: #fff;
        box-shadow: 2px 2px 2px 2px rgb(183, 183, 183);
        color: #333;
        border-radius: 5px;
        cursor: pointer;

        &:hover {
          border-radius: 2px solid red;
          background: #f4f4f4;
        }
      }
    }
  }

  // third component
  .form-switch {
    display: flex;
    justify-content: space-between;
  }

  // 4th component
  .prognoz-form {
    // border: 2px solid green;
    display: flex;
    // flex-direction: column;
    flex-wrap: wrap;

    .prognoz-form-item {
      margin-right: 1rem;
      display: flex;
      flex-direction: column;
      justify-content: start;
      // border: 2px solid red;
    }
  }

  // 5th component
  .prognoz-button {
    display: flex;
    justify-content: center;
    button {
      cursor: pointer;
      appearance: none;
      padding: 1rem 3rem;
      border: 0;
      border-radius: 0.5rem;
      font-size: 16px;

      // убрать эту штуку после норм вёрстки
      width: 100%;

      &:hover {
        background: #ebf3ff;
        transition: 0.3s;
      }

      &:focus {
        outline: none;
        box-shadow: 0 0 0 4px #f2f6fd;
      }
      &:active {
        background-color: #d1e6ff;
      }
    }
  }
}

///
/////
/////
/////
///
#rectangle_best {
  cursor: pointer;
  width: 30px;
  height: 30px;
  border: 1px solid #d1d1d1;
  background: #7bf69d;

  &:hover {
    box-shadow: 0px 0px 50px 0px rgba(255, 255, 255, 0.45) inset;
    transition: all 0.1s;
    transform: scale(1.2);
  }
}
#rectangle_good {
  cursor: pointer;
  width: 30px;
  height: 30px;
  border: 1px solid #d1d1d1;
  background: #f3f67b;

  &:hover {
    box-shadow: 0px 0px 50px 0px rgba(255, 255, 255, 0.45) inset;
    transition: all 0.1s;
    transform: scale(1.2);
  }
}
#rectangle_bad {
  cursor: pointer;
  width: 30px;
  height: 30px;
  border: 1px solid #d1d1d1;
  background: #f67b7b;

  &:hover {
    box-shadow: 0px 0px 50px 0px rgba(255, 255, 255, 0.45) inset;
    transition: all 0.1s;
    transform: scale(1.2);
  }
}

// .form__warning {
//   display: flex;
//   flex-direction: row;
//   border-radius: 5px;
//   margin-inline: 1rem;
//   padding: 0.85rem;
//   background-color: #fff6a5;

//   svg {
//     width: 1.7rem;
//     transition: 0.3s;
//     padding-left: 1rem;
//   }
// }

// .form__input {
//   // border: 2px solid red;
//   display: flex;
//   flex-direction: column;
//   height: 200px auto;
//   margin: 1rem;
//   padding: 1rem 2.5rem;
//   border-radius: 11px;
//   box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;

//   .prognoz-form {
//     // border: 2px solid green;
//     display: flex;
//     // flex-direction: column;
//     flex-wrap: wrap;

//     .prognoz-form-item {
//       margin-right: 1rem;
//       // border: 2px solid red;
//     }
//   }

//   .input-file {
//     display: flex;
//     flex-direction: column;

//     input {
//       cursor: pointer;
//       padding: 0.35rem;
//       border: 1px solid #d1d1d1;
//       border-radius: 5px;
//       -webkit-app-region: no-click;
//     }
//   }

//   .input-settings {
//     padding-top: 1rem;
//     display: flex;

//     .settings__road-type {
//       width: 100%;

//       .road-type__radio {
//         display: flex;
//         flex-direction: row;

//         .radio-item {
//           display: flex;
//           align-items: center;
//           padding-right: 1rem;
//           padding-top: 0.5rem;
//         }
//       }
//     }

//     .settings__road-class {
//       display: flex;
//       flex-direction: column;
//       width: 100%;
//     }
//   }

//   .input-button {
//     display: flex;
//     justify-content: end;
//     padding-top: 1rem;
//   }

//   .form-view {
//     display: flex;
//     justify-content: center;
//     flex-wrap: wrap;
//     padding: 0.75rem 4rem;

//     .tooltip-form {
//       z-index: 1;
//       border-radius: 5px;
//       background-color: #fff;
//       color: #000;
//       opacity: 1;
//       font-size: 14px;
//       box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;

//       p {
//         margin: 0 0 0.5rem 0;
//       }

//       .tooltip-avg-status {
//         display: flex;
//         align-items: center;
//       }
//     }
//   }

//   .form-switch {
//     display: flex;
//     justify-content: space-between;
//   }
// }

::-webkit-scrollbar {
  width: 1vw;
  padding: 0.15rem;
}

::-webkit-scrollbar-track {
  background-color: #f5f5f5;
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
  background-color: rgb(169, 168, 165);
}

::-webkit-scrollbar-thumb:hover {
  background-color: #9d9c9c;
}
