.navbar {
    display: flex;
    justify-content: end;
    background-color: #496292;
    font-size: 15px;
    padding-inline: 2rem;
    padding-block: 0.2rem;
}

.navbar__item {
    cursor: pointer;
    padding: 0.6rem;
}

.navbar__item-link{
    text-decoration: none;
}

.navbar__item label {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    padding: 0.5rem 1rem 0.5rem 1rem;
}

.navbar__item label:hover {
    background-color: #4274d0;
    border-radius: 0.2rem;
    transition: 0.4s;
}

#active label {
    background-color: #4274d0;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem 0.5rem 1rem;
}